* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background-color: black;
}

p {
    color: white;
    font-size:  7rem;
    font-family: sans-serif;
    text-align: center;
    line-height: 100vh;
}

span{
    opacity: 0;
    transition: all 2s ease;
    transform: translateY(50px);
    display: inline;
}

span.fade{
    color: rgb(8, 165, 60);
    opacity: 1;
}