/**********************************************
*** GENERAL
**********************************************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

body {
    background-image: linear-gradient(rgba(62, 20, 20, 0.4), rgba(62, 20, 20, 0.4)), url(../resources/images/back.jpg);
    background-size: cover;
    background-position: center;
    font-family: Showcard Gothic;
    font-style: normal;
    /* font-weight: 200; */
    position: relative;
    height: 100vh;
    color: #555;
}

.instructions{
    /* margin: 0; */
    position: absolute;
    left: 39%;
    top: -22%;
}

.winningScore{
    position: absolute;
    left: 34%;
    top: 105%;
}

.wrapper {
    width: 900px;
    border: solid;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(155, 255, 255);
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.3);
    border-radius: 1em;
    /* overflow: hidden; */
    /* border-radius: 1em; */
}

.player-0-panel,
.player-1-panel {
    width: 50%;
    float: left;
    height: 600px;
    padding: 100px;
}



/**********************************************
*** PLAYERS
**********************************************/

.player-name {
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 100;
    margin-top: 20px;
    margin-bottom: 10px;
    position: relative;
}

.player-score {
    text-align: center;
    font-size: 80px;
    font-weight: 100;
    color: #EB4D4D;
    margin-bottom: 130px;
}

.active { 
    background-color: #00d9ff; 
    border-radius: 1em;
}
.active .player-name { font-weight: 300; }

.active .player-name::after {
    content: "\2022";
    font-size: 47px;
    position: absolute;
    color: #EB4D4D;
    top: -7px;
    right: 5px;
    
}

.player-current-box {
    background-color: #6087FF;
    border: solid;
    border-radius: 1em;
    color: rgb(0, 0, 0);
    width: 40%;
    margin: 0 auto;
    padding: 12px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.player-current-label {
    text-transform: uppercase;
    margin-bottom: 10px;
    font-size: 12px;
    color: rgb(0, 0, 0);
    font-weight: bolder;
}

.player-current-score {
    font-size: 30px;
}

button {
    position: absolute;
    width: 200px;
    left: 39%;
    color: #555;
    background: none;
    border: none;
    font-size: 30px;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 300;
    transition: background-color 0.3s, color 0.3s;
    font-family: Showcard Gothic;
}

button:hover { 
animation:grow 400ms infinite alternate;
}
@-webkit-keyframes grow {
    from {
        -webkit-transform:scale(1);
    }
    to {
        -webkit-transform:scale(1.1);
    }
}

/* button:focus {
    outline: none;
} */

.winningScore {
    margin: 0 auto;
    font-size: 150%;
    border-radius: 1em;
    text-align: center;
}

.btn-new { top: 45px;}
.btn-roll { top: 403px;}
.btn-hold { top: 467px;}
.btn-howToPlay { 
    font-size: 3em;
    color: #fab04f;
}


.dice {
    position: absolute;
    border: solid;
    /* border-radius: 1em; */
    left: 50%;
    top: 178px;
    transform: translateX(-50%);
    height: 100px;
    box-shadow: 0px 10px 60px rgba(0, 0, 0, 0.10);
}

.winner { 
    /* background-color: #fab04f; */
    border-radius: 1em; 
    background: repeating-linear-gradient(
        white 0%,
        white 7.5px,
        #fab04f 7.5px,
        #fab04f 15px,
        white 15px,
        white 22.5px,
        #fab04f 22.5px,
        #fab04f 30px);
animation: animate 5s linear infinite;
}

@keyframes animate {
	from {
		background-position: 0;
	}

	to {
		background-position: 0 450px;
	}
}


.winner .player-name { font-weight: 300; color: #EB4D4D; }

.winnerAnimation {

    
        animation:winner 400ms infinite alternate;
        }
        @-webkit-keyframes winner {
            from {
                -webkit-transform:scale(1);
                color: blue;
            }
            to {
                -webkit-transform:scale(2);
                color: red;
            }
        }